$headerColor: #bada55;

.App {
  text-align: center;
}

.navi {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@import url(https://fonts.googleapis.com/css2?family=Train+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
  }
  &:active {
    background: darken($bg, 25%);
  }
}
.btn {
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  font-size: 0.75em;
}

.btn-green {
  @include button-bg(#2ec7cc);
}

.btn-blue {
  @include button-bg(#3498db);
}

.btn-yellow {
  @include button-bg(#f1c40f);
}

.btn-red {
  @include button-bg(#e74c3c);
}

h1 {
  height: 100px;
  color: rgba(21, 79, 185, 0.564);
  background-color: $headerColor;
  font-family: "Train One", cursive;

  font-size: 2em;
}

.subBtn {
  margin-top: 30px;
}

.signUpForm {
  margin-top: 70px;
}
.header {
  display: flex;
  justify-content: center;
}

.carousel {
  margin-top: 7vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.form-inline {
  width: 50%;
  margin-left: 30vh;
}

.searchBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.featured {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 25%;
}

.accessories {
  display: flex;
  margin-bottom: 10px;
  margin-top: 7vh;
}

.cardOne {
  margin-right: 7vh;
}

.cardTwo {
  margin-left: 7vh;
}

.tvImage {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 50%;
}

.headphoneImage {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 50%;
}

.bottomHeader {
  background-color: rgb(0, 123, 255);
  border: 1px solid gray;
}
